<form class="form" ng-controller="authController" ng-submit="login()">
    <div class="modal-header">
        <h3 class="text-center">User Registration</h3>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <input class="form-control input-sm" name="login" placeholder="Login" type="text">
        </div>
        <div class="form-group">
            <input class="form-control input-sm" name="password" placeholder="password" type="password">
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default">Login</button>
    </div>
</form>